@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
  --primary-color: #B49FE7; /* Root color */
  --secondary-color: #111;  /* Secondary color */
  --text-color: #ffffffdb;    /* Text color */
  --menu-color: #f0f8ffcb;
  --menuhover-color: #B49FE7;
  --font-family: "Poppins", sans-serif; /* Font family */
  --font-size-base: 16px;   /* Base font size */
}

.toggle {
    position: fixed;
    top: 20px;
    right: 40px; /* Positioning */
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png) center center no-repeat; /* Default icon */
    background-size: 30px; /* Size of the icon */
    cursor: pointer;
    z-index: 100; /* Ensure it is above other elements */
    transition: background 0.3s ease; /* Smooth transition */
  }
  
  .toggle.active {
    background: url(https://i.ibb.co/rt3HybH/close.png) no-repeat center;
    background-size: 25px;
  }
  
  .menu {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden off-screen */
    width: 300px;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.5s ease; /* Slide effect */
    z-index: 10;
  }
  
  .menu.active {
    right: 0; /* Slide in from the right */
  }
  .menu ul {
    position: relative;
    list-style: none;
  }
  
  .menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: var(--menu-color);
  }
  
  .menu ul li a:hover {
    color: var(--menuhover-color);
  }
  